#logo {
  background-image: url("http://www.premeraux.com/img/logo_pbc.png") !important;
}

.location-dropdown { margin-bottom: 8px; }
.location-dropdown button { border: 0; }
.location-dropdown ul { min-width: 0; }
