#header {
  background-color: rgba(255,255,255,.9);
  position: fixed;
  min-height: $header-height;
  top: 0; right: 0; left: 0;
  z-index: 999;
  &:after {
    content: " ";
    position: absolute;
    left: 0; right: 0; bottom: -2px;
    border-bottom: 2px solid rgba(0,0,0,.1);
  }
}

#pbc-logo {
  height: 48px;
  margin-right: 20px;
}

.primary-navigation a {
  vertical-align: bottom;
  color: $black;
  display: inline-block;
  &:hover {
    color: $premera-blue;
  }
}
