.primary-banner {
  background-size: cover;
  background-position: top center;
}
// overlay on main hero
.overlay {
  text-align: center;
  background-color: rgba(255,255,255,.4);
  color: lighten($black, 50%);

}
