#logo {
  background-image: url("http://www.premeraux.com/img/logo_pbc.png") !important; }
// ^^^ Not specific to footer ^^^

#footer {
  // Current footer styling (here for reference);
  background: #fff;
  color: #666;
  padding: 20px;
  border-top: 1px solid #ddd;

  // Overrides (not necessary for final CSS);
  padding: 0; // pad individual components instead to get full color bleed
  > .row {
    margin: 0;
    padding: 16px;
  }
}

@media (max-width: 767px) {
  .audience-login {
    margin: 12px 0 !important; /* !important needed to override bootstrap's .media:first-child class */
  }
}

.audience-login {
  transition: all .2s;
}

.audience-login {
  padding: 6px 16px;
  border-radius: 4px;
  line-height: 1;
  h4, i {
    margin: 0;
  }
  span {
    font-size: 12px;
  }
  &:hover {
    text-decoration: none;
  }
}

.footer-sitemap {
  background-color: #d1d1ce;
  li {
    line-height: 1.2;
    font-size: 12px;
    margin-bottom: 16px;
  }
}

.footer-social-links {
  a {
    color: #666;
    margin-right: 8px;
    &:last-child { margin-right: 0; }
    &:hover { text-decoration: none; }
  }
  .icon-facebook2:hover { color: #3B5998; }
  .icon-twitter:hover   { color: #4099FF; }
  .icon-youtube:hover   { color: #E52D27; }
  .icon-bubbles:hover   { color: #009BDA; }
  .icon-large    { transition: color .2s; }
}
