@import "current-css-overrides";
@import "icomoon";


.wrap {
  padding: 1em; /* fallback for browsers that don't support calc */
  padding: 1em calc(50% - 584px);
}
@media (max-width: 1200px) {
  /* Padding for viewport widths that are less than total calc value.
     Doesn't work without the #main-container selector or an important
     tag. I blame Bootstrap. ¯\_(ツ)_/¯ */
  #main-container .wrap {
    padding: 1em;
  }
}

/* Very hacky slide-in alert code. Intended only to demonstrate look and feel
   of functionality */
.slide-alert {
  overflow: hidden;
  height: 0;
  padding: 0;
  border-width: 0;
  margin-bottom: 0;
  border-radius: 0;
  animation: slideIn 6s 1s;
}
@keyframes slideIn {
  0%   { border-width: 1px; }
  15%  { height: 55px; padding: 15px; border-width: 1px; }
  85%  { height: 55px; padding: 15px; border-width: 1px; }
  100% { height: 0; }
}


.notification {
  position: relative;
  cursor: pointer;
  .badge {
    position: absolute;
    background-color: red;
    top: -10px;
    right: -10px
    ;
  }
}
.modal-backdrop {
  z-index: -5000; /* overlay appears on top of modal otherwise */
}






.promo-block {
  color: #fff;
  background: #91e5e5; /* fallback for browsers with no gradient support */
  background: radial-gradient(circle at 2.02% 60.00%, #00a1c4, transparent 100%),
              radial-gradient(circle at 97.98% 58.98%, #007fa4, transparent 100%),
              #91e5e5;
  h2 {
    font-size: 2.4em;
    color: #fff;
    margin: .4em 0;
  }
  a {
    background-color: #c4d52b;
    color: #5A5F66;
    text-decoration: none;
    border: 2px solid #c4d52b;
    &:hover {
      color: #c4d52b;
      border: 2px solid #c4d52b;
      background-color: transparent;
    }
  }
}

.btn, .audience-login {
  transition: all .2s;
}

.footer-logins {
  background-color: #007fa4;
}

.audience-login {
  display: block;
  padding: 6px 16px;
  border-radius: 4px;
  line-height: 1;
  h4, i {
    color: #fff;
    margin: 0;
  }
  span {
    color: #ddd;
    font-size: 12px;
  }
  &:hover {
    text-decoration: none;
    background-color: #fff;
    color: #007fa4;
    span, h4, i {
      color: #007fa4;
    }
  }
}

.footer-sitemap {
  background-color: #37474f;
  h3 {
    color: #96e5e5;
    font-size: 1.3em;
  }
  li {
    font-size: .9em;
    line-height: 1.4;
    margin-bottom: 1em;
  }
  a {
    color: #fff;
  }
  .btn-secondary {
    border: 2px solid #96e5e5;
    color: #96e5e5;
    &:hover {
      color: #fff;
      border-color: #33cccc;
      background-color: #33cccc;
    }
  }
}

.footer-copyright {
  color: #fff;
  background-color: #222c31;
}

.footer-social-links {
  @extend .footer-copyright;
  a {
    color: #fff;
    margin-right: 8px;
    &:last-child { margin-right: 0; }
    &:hover { text-decoration: none; }
  }
  .icon-facebook2:hover { color: #3B5998; }
  .icon-twitter:hover   { color: #4099FF; }
  .icon-youtube:hover   { color: #E52D27; }
  .icon-bubbles:hover   { color: #009BDA; }
  .icon-large    { transition: color .2s; }
}
