@import "current-css-overrides";
@import "icomoon";

@media (max-width: 1200px) {
  /* padding for viewport widths that are less than total calc value*/
  .wrap {
    padding: 1em;
  }
}

//=========================================================

.wrap {
  padding: 1em; /* fallback for browsers that don't support calc */
  padding: 1em calc(50% - 584px);
}

.notification {
  position: relative;
  cursor: pointer;
  .badge {
    position: absolute;
    background-color: red;
    top: -10px;
    right: -10px;
  }
}
.modal-backdrop {
  z-index: -5000;
}

.promo-block {
  color: #fff;
  background: #0f32a4;
  background: radial-gradient(circle at 2.02% 60.00%, #00a1c4, transparent 100%),
              radial-gradient(circle at 97.98% 58.98%, #007fa4, transparent 100%),
              #0f32a4;
  h2 {
    font-size: 2.4em;
    color: #fff;
    margin: .4em 0;
  }
  a {
    color: #5A5F66;
    text-decoration: none;
  }
}

.footer-sitemap {
  h3 {
    font-size: 1.3em;
    color: #5A5F66;
  }
  li {
    font-size: .9em;
    line-height: 1.5;
    margin-bottom: 1em;
  }
  a {
    color: #004b6c;
  }
}

.footer-location {
  background-color: #EDEFF2;
}

.footer-social-links {
  a {
    color: #5A5F66;
    margin-right: 8px;
    &:last-child { margin-right: 0; }
    &:hover { text-decoration: none; }
  }
  .icon-facebook2:hover { color: #3B5998; }
  .icon-twitter:hover   { color: #4099FF; }
  .icon-youtube:hover   { color: #E52D27; }
  .icon-bubbles:hover   { color: #009BDA; }
  .icon-large    { transition: color .2s; }
}
